$primary-color: #0068b5;
$body-bg: #f8f8f8;
$gray-color: #808080;
$mono-font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
$font-size: 0.7rem;
$font-size-sm: 0.65rem;
$font-size-lg: 0.8rem;

@import "node_modules/spectre.css/src/spectre";
html,
body {
    height: 100%;
    overflow: hidden;
}

.heading {
    font-size: 0.6rem;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}
.caption {
    font-size: 0.65rem;
}

.column.is-narrow {
    flex-grow: 0;
}

.field-name {
    @extend .column;
    @extend .col-2;
    @extend .text-gray;
    @extend .caption;
}
.field-value {
    @extend .column;
    @extend .col-10;
    line-height: 220%;
}

.is-align-center {
    align-items: center;
}

.card {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 0.5px inset,
        0px 1px 4px 0px rgba(0, 0, 0, 0.05);
}
.text-mono {
    font-family: $mono-font-family;
}
.text-serif {
    font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
}
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.12s;
    transition-timing-function: ease;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.indent {
    margin-left: 2.8rem;
}

.sub-panel {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 0.5px inset;
}
.sub-panel-head {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 0.5px inset;
    background-color: rgba(0, 0, 0, 0.05);
    @extend .px-2;
    @extend .py-1;
}

.sub-panel-body {
    @extend .px-2;
    @extend .py-2;
}

.form-input {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 0.5px inset;
}
.form-input[readonly] {
    background-color: #fdfdfd;
}

.token-amount {
    font-family: $mono-font-family;
    letter-spacing: -1px;
}
.token-symbol {
    font-size: 0.6rem;
    text-transform: uppercase;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 0.5px inset;
    border-radius: 3px;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    @extend .mx-1;
}
